form {
	width: auto;
	border: 0px solid #ccc;
	padding: 50px;
	background: #ffffff;
	border-radius: 0px;
}
button {
	float: left;
	background: #01AF2C;
	padding: 10px 15px;
	color: #fff;
	border-radius: 4px;
	margin-right: 10px;
	border: none;
}
label {
	color: rgb(19, 19, 19);
	font-size: 18px;
	padding: 10px;
}
input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 4px;
}
select{
    display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 4px;
}